.card-container{
    background-color: rgb(99, 96, 96);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
@media only screen and (max-width: 600px) {
  .card-container{
 grid-template-columns: 1fr;
  }

}