.card{
    background-color: rgb(55, 49, 49);
    margin-top: 10px;
    border: 2px solid rgb(35, 35, 213);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.card img{
  width:100px;
 
}
.card h2{
    color:white;
}
.card button{
    background-color: rgb(24, 137, 224);
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
}