.header-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
    background-color: rgb(55, 49, 49);
    padding-left:140px;
    padding-right:140px;
    height: 80px;
   
}
.header-container div{
    color: rgb(234, 239, 82);
}
.header-container a{
   margin-left: 200px;
    text-decoration: none;
    color: white;
   
    font-size: 17px;
   
    
}
.header-container a:hover{
    color: blue;
}
.container{
 
    background-color: rgb(19, 19, 19);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.description{
    color: white;
}
.container img{
    width: 30%;
    height:300px;
    
}